/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

/* El elemento header tendrá una imagen de fondo */

header {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

#contenedor1 {
 display: flex;
flex-direction: row;
}


#contenedor2 {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   }
   
   
#contenedor3 {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   justify-content:center;
   


   }

   .myDiv {
    text-align: center;
     
     
     
  }

  .myImg {
    text-align: center;
     size: 10%;
     
  }


